stages:
  - review
  - publish

approval_gate:
  stage: review
  when: manual
  allow_failure: false
  script:
    - echo "Approval granted"


publish_child_report:
  stage: publish
  image: alpine:latest
  tags: [docker]
  needs:
    - approval_gate
  script:
    - apk add --no-cache bash curl jq
    - ./tracker/create_child_report.sh

