stages:
  - scan
  - publish

#variables:
  #   CI_REPOSITORY_URL: "ssh://git@gitlab.local:2222/platform/cots-foss-tracker.git"

scan_versions:
  stage: scan
  image: alpine:latest
  tags: [docker]
  script:
    - apk add --no-cache curl bash jq
    - curl -sSL -o /usr/local/bin/argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
    - chmod +x /usr/local/bin/argocd
    - argocd login host.docker.internal:8081 --auth-token "$ARGOCD_TOKEN" --insecure --grpc-web
    - argocd app list

publish_child_report:
  stage: publish
  image: alpine:latest
  variables:
    GIT_STRATEGY: none
  tags: [docker]
  script:
    - apk add --no-cache git bash curl jq
    - git clone http://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab/platform/cots-foss-tracker.git
    - cd cots-foss-tracker
    - bash ./tracker/create_child_report.sh
