stages:
  - publish

#variables:
  #   CI_REPOSITORY_URL: "ssh://git@gitlab.local:2222/platform/cots-foss-tracker.git"

publish_child_report:
  stage: publish
  image: alpine:latest
  variables:
    GIT_STRATEGY: none
  tags: [docker]
  script:
    - apk add --no-cache git bash curl jq
    - git clone http://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab/platform/cots-foss-tracker.git
    - cd cots-foss-tracker
    - chmod +x ./tracker/create_child_report.sh
    - bash ./tracker/create_child_report.sh
